@media (max-width: 320px) {

nav ul li {
  display: inline;
  text-align: center;
  margin: 0.5em;
  font-size: 14px;
}

header {
  overflow: inherit;
}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: 16px;
  line-height: inherit;
  overflow: visible;
  letter-spacing: inherit;
}

p.details {
  font-size: 12px;
  margin-bottom: -8px;
  margin-top: 0px;
}

p {
  font-size: 12px;
}

main ul li {
  font-size: 12px;
  text-align: left;
  margin-left: -18px;
}

#column_1 {
  width: 47%;
  margin-left: -8px;
}

#column_2 {
  width: 47%;
  margin-right: -8px;
}

#contact ul {
  height: auto;
  overflow: scroll;
}

#contact ul li {
  display: inline-block;
  overflow: auto;
  text-align: left;
  margin: 1em;
  font-size: 16px;
}
